<template>
  <div class="component-setting">
    <div class="title">属性配置 - {{ fullName }}</div>
    {{ name }}-{{ config }}
    <component
      :is="name"
      :key="currentMark"
      :updateCompDeail="updateCompDeail"
      v-bind="config"
    ></component>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
import { updateComponent } from '@/commom/helper';

const store = useStore();
const name = computed(() => store.getters.currentComponent.name + 'Config');

//获取组件名
const fullName = computed(() => store.getters.currentComponent.fullName);
//获取当前组件唯一标识
const currentMark = computed(() => store.getters.currentComponent.mark);

//获取基础配置
const config = computed(() => {
  const page = store.getters.page;
  const currentComponent = store.getters.currentComponent;
  if (currentComponent.name === 'activity') {
    return page.detail;
  } else {
    const component = page.components.find(
      (c) => c.mark === currentComponent.mark,
    );
    const componentConfig = component?.detail || {};
    return componentConfig;
  }
});

//更新组件信息
const updateCompDeail = (newDatil, key = 'detail') => {
  updateComponent(store, { newDatil, key });
};
</script>

<style lang="scss" scoped>
.component-setting {
  height: 100%;
  padding: 12px;
  font-size: 14px;
  .title {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
  }
}
</style>
