<template>
  <div
    class="preview-content"
    @drop.stop.prevent="componentDrap"
    @dragover.prevent
  >
    <activityConfig></activityConfig>
    <div
      v-for="component in page.components"
      :key="component.mark"
      :class="{
        'component-container': true,
        checked: component.mark == currentMark,
      }"
      :style="{ 'text-align': component.style.align }"
      @click="switchComponent(component)"
    >
      <component
        :is="component.name"
        v-bind="{ ...component.detail, ...generateStyle(component.style) }"
      />
    </div>
  </div>
</template>

<script setup>
import activityConfig from './activityConfig/activityConfig.vue';
import { useStore } from 'vuex';
import { getComponentTemplateData } from '@/commom';
import { computed } from 'vue';
import { selectComponent, generateStyle } from '@/commom/helper';

const store = useStore();
const page = store.getters.page;
//获取当前标识
const currentMark = computed(() => store.getters.currentComponent.mark);

const componentDrap = (e) => {
  const data = e.dataTransfer.getData('component-drag');
  const component = JSON.parse(data);
  //初始化组件信息
  const componentData = getComponentTemplateData({
    name: component.name,
    fullName: component.fullName,
  });
  // 添加组件
  store.commit('addComponent', componentData);
  // 更新选中组件
  selectComponent(store, {
    name: component.name,
    fullName: component.fullName,
    mark: componentData.mark,
  });
};

// 选中组件
const switchComponent = (component) => {
  selectComponent(store, component);
};
</script>

<style lang="scss" scoped>
.preview-content {
  height: 100%;
  background-color: rgb(230, 242, 126);
}

.component-container {
  overflow: hidden;
}
</style>
